<p-table [columns]="columns | async" [value]="data | async" [rowTrackBy]="rowTrackBy"
    [scrollable]="true" scrollHeight="100%" sortMode="multiple"
    selectionMode="multiple" [metaKeySelection]="true" [(selection)]="selected" (onRowSelect)="updateSelection()" (onRowUnselect)="updateSelection()">
    
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [class]="col.headerClass" [title]="col.title" [pSortableColumn]="col.fieldToSort">
                {{col.name}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
        <tr class="position-relative" [pSelectableRow]="item" [pSelectableRowIndex]="rowIndex">

            <td *ngFor="let col of columns" [class]="'position-relative b-right ' + col.class">
                    
                <!-- Country -->
                <ng-container *ngIf="col.field === 'country'">
                    <div class="cell-wrapper justify-content-center">
                        <img src="/img/flag/{{item.info.countrySymbol}}.png" [title]="item.info.countryName">
                    </div>
                </ng-container>
                
                <!-- City -->
                <ng-container *ngIf="col.field === 'cityName'">
                    <div class="cell-wrapper">
                        {{item.info.cityName}}
                    </div>
                </ng-container>
                
                <!-- Type -->
                <ng-container *ngIf="col.field === 'type'">
                    <div class="cell-wrapper p-1px justify-content-center">
                       <img class="type-img" src="/img/unit_types/{{item.info.unitTypeSymbol}}.gif" [title]="item.info.unitTypeName">
                    </div>
                </ng-container>
                
                <!-- Name -->
                <ng-container *ngIf="col.field === 'name'">
                    <div class="cell-wrapper">
                        <a href="{{item.info.url}}" target="_blank">{{item.info.name}}</a>
                    </div>
                </ng-container>
                
                <!-- Indicators -->
                <ng-container *ngIf="col.field === 'indicators'">
                    <div class="cell-wrapper justify-content-end">
                        <img *ngFor="let indicator of item.info.indicators" src="/img/unit_indicator/{{indicator.kind}}.gif" [title]="indicator.name">
                    </div>
                </ng-container>
                
                <!-- Productivity -->
                <ng-container *ngIf="col.field === 'productivity'">
                    <div class="cell-wrapper justify-content-center {{productivityClass(item.info.productivity)}}">
                        <span>{{item.productivityDisplay}}</span>
                    </div>
                </ng-container>

                <!-- Productivity tomorrow -->
                <ng-container *ngIf="col.field === 'productivityTomorrow'">
                    <div class="cell-wrapper justify-content-center {{productivityClass(item.productivityTomorrow)}}">
                        <span>{{item.productivityTomorrowDisplay}}</span>
                    </div>
                </ng-container>
                
                <!-- TOP1 -->
                <ng-container *ngIf="col.field === 'top1'">
                    <div class="cell-wrapper justify-content-center {{productivityClass(item.common?.top1)}}">
                        <span>{{item.top1Display}}</span>
                    </div>
                </ng-container>
                
                <!-- TOP3 -->
                <ng-container *ngIf="col.field === 'top3'">
                    <div class="cell-wrapper justify-content-center {{productivityClass(item.common?.top3)}}">
                        <span>{{item.top3Display}}</span>
                    </div>
                </ng-container>

                <!-- Price -->
                <ng-container *ngIf="col.field === 'priceConfig'">
                    <div class="cell-wrapper d-flex">
                        <div style="width: 50%" class="cell-part text-right">{{item.priceStrategyDisplay}}</div>
                        <div style="width: 50%" class="cell-part">{{item.priceMinDisplay}}</div>
                    </div>
                </ng-container>

                <!-- Supply -->
                <ng-container *ngIf="col.field === 'supplyConfig'">
                    <div class="cell-wrapper">
                        <div style="width: 42%" class="cell-part text-right">{{item.supplyStrategyDisplay}}</div>
                        <div style="width: 22%" class="cell-part text-center">{{item.supplyMinDisplay}}</div>
                        <div style="width: 36%" class="cell-part">{{item.supplyMaxValueDisplay}}</div>
                    </div>
                </ng-container>
                
                <!-- Status -->
                <ng-container *ngIf="col.field === 'status'">
                    <div class="cell-wrapper">
                        
                    </div>
                </ng-container>

            </td>
        </tr>
    </ng-template>
</p-table>