<div class="section actions">
    <button class="btn btn-xs btn-outline-primary" [disabled]="!(units$ | async).length" (click)="update()">
        Update <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <button class="btn btn-xs btn-outline-primary" [disabled]="!(units$ | async).length">
        Run <span class="fa fa-play" aria-hidden="true"></span>
    </button>
</div>

<div class="separator"></div>

<div class="section info">
    <span>Progress: 0 / {{(units$ | async).length}}</span>
    <span>Elapsed Time: 00:00:00</span>
    <span>AJAX: 0</span>
</div>
