<div class="header">NNS - Toolbar</div>
<div class="sub-header d-flex align-items-center">
    <img *ngFor="let type of (selectedTypes$ | async)" src="/img/unit_types/{{type}}.gif">
</div>

<app-toolbar-price
    [selectedUnits]="selectedUnits$ | async"
    (strategyChanged)="onPriceStrategyChange($event)"
    (minChanged)="onMinPriceChange($event)"
></app-toolbar-price>

<app-toolbar-supply
    [selectedUnits]="selectedUnits$ | async"
    (strategyChanged)="onSupplyStrategyChange($event)"
    (minChanged)="onMinSupplyChange($event)"
    (maxValueChanged)="onMaxSupplyValueChange($event)"
></app-toolbar-supply>