body.nns {
    display: flex;
    justify-content: center;
}

.nns #wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: unset;
    width: unset;
    margin: 0;
}

.nns .metro_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: unset;
}

.nns #mainContent {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin-bottom: 20px;
}

.nns #mainContent::after {
    display: none;
}

.nns #mainContent *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
}

.nns #mainContent *::-webkit-scrollbar-track {
    background-color: #fff;
}

.nns #mainContent *::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #555;
}

.m-1px {
    padding: 1px;
}

.flex-grow {
    flex-grow: 1;
}

button:focus, select:focus, textarea:focus, input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-control {
    border-radius: 0 !important;
}

.btn-xs {
    padding: 0 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 0 !important;
}